<%- include("./partials/header.ejs") %>

<div class="flex-container">

  <div class="content bloc">
    <div class="flex-center">
      <div class="card">
        <form action="/userLookup" method="post">
          <label for="username">Lookup a player:</label>
          <input id="username" name="username" placeholder="Username or UUID">
        </form>
      </div>
    </div>
  </div>



  <%- include("./partials/footer.ejs") %>