<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PixelStats</title>
    <link href="styles/main.css" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h1>PixelStats</h1>
    </div>

    <div class="body">
        <form action="/submitPlayer" method="post">
            <label for="username">Enter your Minecraft username:</label>
            <input id="username" name="username" placeholder="Username or UUID">
        </form>
    </div>

    <div class="footer">
        <p>Made in 🇨🇦 By <a href="https://github.com/StinkyDubeau/">Jake Dubeau</a> <%=new Date().getFullYear()%></p>
        <p>Hypixel stats from <a href="https://api.hypixel.net/">their API</a>, username processing by <a href="https://playerdb.co/">PlayerDB</a>.</p>
        <p>Minecraft content and materials are trademarks and copyrights of Mojang AB. This project is not affiliated with Mojang AB.</p>
    </div>
</body>
</html>