<%- include("./partials/header.ejs") %>

<div class="flex-container">

  <div class="content bloc">
    <div class="grid-container">
      <div class="grid-item">

        <form action="/userLookup" method="post">
          <label for="username">Enter your Minecraft username:</label>
          <input id="username" name="username" placeholder="Username or UUID">
        </form>
      </div>
    </div>
  </div>



  <%- include("./partials/footer.ejs") %>