:root {
    /* --- Palette --- */
    --accentBackground: rgb(132, 80, 97);
    --accentForeground: orange;
    --nearBlack: rgb(78, 0, 26);
    --background: rgb(70, 23, 53);
    --shadow: rgba(0, 0, 0, 0.5);
    --foreground: snow;
    --link: orange;
    --card: beige;

    --sidePad: 15px;

    --small: 600px;
    --medium: 1200px;
    --large: 1500px;

    --tinyText: 7pt;
    --smallText: 10pt;
    --mediumText: 12pt;
    --largeText: 24pt;
    --hugeText: 36pt;
    --massiveText: 76pt;
}



input{
    background-color: rgb(173, 182, 156);
    border-radius: 15px;
    border: 0px;
    padding: 5px;
}

body {
    color: var(--foreground);
    background-color: var(--accentBackground);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

button {
    z-index: 2;
}

a {
    color: var(--link);
}

h1 {
    margin: 0px;
}

.card {
    color: var(--nearBlack);
    background-color: var(--card);
    box-shadow: 0px 50px 50px var(--shadow);
    border-radius: 15px;
    width: 350px;

    display: inline-flex;
    justify-content: space-between;

    padding: 10px 15px;
}

.card-controls {
    margin-top: 15px;
}

.uuid {
    font-size: var(--tinyText);
    color: gray;
}
.player-name{
    font-size: --mediumText;
}
.headshot {
    padding: 15px;
    background-color: var(--accentBackground);
    border-style: none;
    border-radius: 12px;
    min-height: 40px;
    text-align: center;
    box-shadow: inset 0px 0px 15px 5px #00000069;
    height: 200px;
}
.age-badge {
    position: absolute;
    top: 200px;
    left: 50px;
    

    color: var(--foreground);
}
.age-badge > p {
    position: relative;
    top: 0px;
    left: 0px;
    color: black;
}


.flex-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.player-stats {
    font-size: var(--smallText);
}

.content {
    padding: 20px;
    background-color: var(--background);
    border-radius: 15px;
    margin: 10px;
}

.header,
.footer {
    padding: 0 var(--sidePad);
}

.footer {
    text-align: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.grid-container {
    padding: 0 var(--sidePad);
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
    gap: 15px;
}
